@media (max-width: 900px) {
  .product {
    margin-bottom: 3rem;
  }
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    gap: 16px;
  }
}

@media (max-width: 500px) {
  .body {
    font-size: 62%;
  }
  .header {
    padding: 0.6rem 0 0.6rem 1.5rem;
  }
  .nav-list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 100vw;
    gap: 3rem;

    background: none;
    padding-top: 10rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    z-index: 10;
  }

  .nav-list li {
    padding-left: 1rem;
    list-style: none;
    margin-bottom: 1rem;

    width: 30rem;
  }
  .nav-list a {
    color: #000;
    font-size: rem;
    font-weight: 700;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    cursor: pointer;

    position: absolute;
    right: 2rem;
    border: solid 1px #fff;
    overflow: hidden;
    z-index: 10;
  }

  .hamburger span {
    width: 20px;
    height: 2px;
    background-color: #333;
    /* border: none; */
    /* background-color: #fff; */
  }

  .nav-link:hover {
    text-decoration: underline;
  }
  .hero-section {
    height: 73vh;
  }

  .slide-bg {
    display: none;
    overflow: none;
  }
  .swiper-slide img {
  }
  .slide-text {
    display: none;
  }
  .product-card img {
    height: 80%;
  }
}
